BorrowLenses_PartialSandbox/src/flows/Close_Milestone-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_completion_date</name>
        <label>Assign completion date</label>
        <locationX>334</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>LoopMilestoneObj.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_SLA</name>
        <label>Current SLA</label>
        <locationX>337</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>OpenSLAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMilestoneObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Milestone_Loop</targetReference>
        </connector>
    </assignments>
    <description>Auto Close Open Milestone on the Case</description>
    <interviewLabel>Close Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Milestone</label>
    <loops>
        <name>Milestone_Loop</name>
        <label>Milestone Loop</label>
        <locationX>109</locationX>
        <locationY>184</locationY>
        <assignNextValueToReference>LoopMilestoneObj</assignNextValueToReference>
        <collectionReference>CaseMilestoneLookup</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_completion_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseMilestone_Lookup</name>
        <label>CaseMilestone Lookup</label>
        <locationX>108</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestone_Loop</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CaseMilestoneLookup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_Milestone</name>
        <label>Case Milestone</label>
        <locationX>111</locationX>
        <locationY>322</locationY>
        <inputReference>OpenSLAs</inputReference>
    </recordUpdates>
    <startElementReference>CaseMilestone_Lookup</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseMilestoneLookup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>LoopMilestoneObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>OpenSLAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
